// @font-face {
//   font-family: "Open Sans";
//   src: url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=cyrillic,cyrillic-ext');
//   font-weight: normal;
//   font-style: normal;
// }

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=cyrillic,cyrillic-ext');

body,
button {
  font-family: "Open Sans";
}

button {
  font-family: "Open Sans";
  font-size: 1.2rem;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
}

.app {

}

.calendar {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;
  margin: 100px auto 0;
  font-size: 40px;

  @media screen and (max-width: 1100px) {
    margin: 0 10px;
  }

  &__main {
    max-width: 800px;
    width: 60%;
    margin: 0 10px 30px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
      0 1px 3px 0 rgba(63, 63, 68, 0.15);

    @media screen and (max-width: 1100px) {
      width: 100%;
    }
  }

  &__navigation {
    margin-bottom: 20px;
  }

  &__add-task-form {
    width: 40%;
    max-width: 400px;
    padding: 20px;
    font-size: 1.2rem;
    text-align: left;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);

    @media screen and (max-width: 1100px) {
      width: 100%;
      max-width: 800px;
    }
  }

  &__title{
    font-size: 1.2rem;
    color: #4f4f4f;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 550px) {
    flex-direction: column;
  }

  &__view-btn,
  &__btn {
    padding: 5px 20px;
    margin: 0 auto;
  }

  &__view-btn:hover,
  &__btn:hover {
    background: rgba(#566bf3, 0.8);
    border: 1px solid #5c6ac4;
    color: #fff;
  }

  &__view-btn:focus,
  &__btn:focus {
    background: #5c6ac4;
    border: 1px solid #5c6ac4;
    color: #fff;
  }

  &__btn:not(:last-child),
  &__view-btn:not(:last-child) {
    margin-right: 5px;
  }
}
