.form {
  flex: 1 0 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  background: transparent;
  font-size: 1.2rem;
  color: #637381;
  text-align: center;
  font-family: "Open Sans";

  &__input {
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    text-align: start;
    border-radius: 5px;
    border: 1px solid #637381;

    &::placeholder {
      color: rgba(#637381, 0.5);
    }
  }

  &__btn {
    padding: 5px 20px;
    margin: 0 auto;

    &:hover {
      background: rgba(#566bf3, 0.8);
      border: 1px solid #5c6ac4;
      color: #fff;
    }

    &:focus {
      background: #5c6ac4;
      border: 1px solid #5c6ac4;
      color: #fff;
    }
  }
}
