.form {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  background: transparent;
  font-size: 1.2rem;
  color: #637381;
  text-align: center;
  font-family: "Open Sans";

  &__title-label {
    // margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    margin: 15px 0;
    text-align: start;
    border-radius: 5px;
    border: 1px solid #637381;

    &::placeholder {
      color: rgba(#637381, 0.5);
    }
  }

  &__btn {
    padding: 5px 20px;
    margin: 0 auto;
  }

  &__btn:hover {
    background: rgba(#566bf3, 0.8);
    border: 1px solid #5c6ac4;
    color: #fff;
  }

  &__btn:focus {
    background: #5c6ac4;
    border: 1px solid #5c6ac4;
    color: #fff;
  }
}
